.container {
    padding: 20px;
}
.counter{
    font-size: 3rem;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
}
.btnCont{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px;
}
.btnCont button {
    margin-left: 5px;
}

.maxVal{
    color: red;
}